

 <div class="container">

      <form class="form-signin">
        <h3>File Uploader</h3>
        
        <input type="file" id="filePicker" style="display: none" />
        <input type="button" id="authorizeButton" style="display: none" value="Authorize" />
        <input type="button" id="sync" class="btn btn-primary" value="sync">
      </form>
    </div> <!-- /container -->
